################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MySearchEngine/v16/Server/sqlite3
/.vs/MySearchEngine/v16
/obj/Debug
